extends layout
block content
    <header>
        <nav class="green darken-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">SandeOverFlow</a>
                <a href="#" data-target="mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down" id="list">
                    <li (class="col s1 m1 l1")><a href="/Login.html">Login</a></li>
                    <li (class="col s1 m1 l1")><a href="/Register.html">Register</a></li>
                    <li (class="col s1 m1 l1")><a href="/Posts">Posts</a></li>
                    <li (class="col s1 m1 l1")><a href="/post.html">Create a Post</a></li>
                    <li (class="col s1 m1 l1")><a href="/" onclick="logout()">Logout</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile">
            <li (class="col s1 m1 l1")><a href="/Login.html">Login</a></li>
            <li (class="col s1 m1 l1")><a href="/Register.html">Register</a></li>
            <li (class="col s1 m1 l1")><a href="/Posts">Posts</a></li>
            <li (class="col s1 m1 l1")><a href="/post.html">Create a Post</a></li>
            <li (class="col s1 m1 l1")><a href="/" onclick="logout()">Logout</a></li>
        </ul>
    </header>
        div(class="container" id="container")
        ul
            li(id="profile_email")=profile_email
    //hr
    //footer
    
    script(src="javascripts/index.js")

