extends layout

block content
  h1 Login
  div(id="error" class="card-panel")
  form(action="/login.html" id="login-form" method="POST")
    label(for="email") Email 
    input(type="email" name="email" id="email")
    label(for="password") Password 
    input(type="password" name="password" id="password" autocomplete ="on")
    input(type="submit" value="Login")
  script(src="javascripts/login.js")
