
extends layout
block content
 
    body
        div(class="container")
            //h1 Code snippets
            div(id="message")
            div(id="list-content")
            h2=Posts

    script(src="javascripts/posts.js")