extends layout

block content
  h1 Register
  form(action="/register.html" id = "register-form" method="POST")
    label(for="email") Email 
    input(type="email" name="email" id="email" required autocomplete="on")
    label(for="password") Password 
    input(type="password" name="password" id="password" required autocomplete="on")
    button(class="btn" type="submit") Register
  script(src="/javascripts/register.js")