block content
  div(class="container") 
    h1 All the posts
    table
      tr 
        th Email
        th Subject
      each snippet, index in snippets 
        tr(id = "key_element" key=snippet["id"])
          td(class="col s12 m6 l3 flow-text")= snippet["poster"]
          //td= snippet["id"]
          //td= snippet["id"]
          td(class="col s12 m6 l3 flow-text")= snippet["subject"]
          td 
            a(href="/posts/"+snippet["id"]) View Code

  script(src="javascripts/posts.js")